.password-panel{
    width: 100%;
    border: 2px solid var(--text-100);
  }
  .form-title{
    margin-bottom: 0;
  }
  .personal-info-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal-info-inputs{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.personal-info-inputs li{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-300);
    padding: .5em 1.3em;
    margin-bottom: .5em;
    border-radius: 1em;
    width: 80%;
    transition: .5s;
}
.personal-info-inputs li:hover{
    border-color: var(--accent-100);
}
.personal-info-inputs li:hover .input-pers-logo{
    color: var(--accent-100);
}
.input-logo{
    display: flex;
    align-items: baseline;
    height: 2.7em;
    margin-right: .7em;
    font-size: .8em;
    color: var(--text-100);
}
.input-info-label{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Inter", "Expletus Sans", Verdana, sans-serif, arial !important;
}
.input-info-label label{
    margin-left: .3em;
    color: var(--text-200);
}
.input-info-label input{
    background-color: transparent;
    border: none;
    color: var(--text-200);
    margin-top: .5em;
    font-size: .9em;
}
.input-info-label textarea{
  background-color: transparent;
  border: none;
  color: var(--text-200);
  margin-top: .5em;
  font-size: .9em;
}
.input-pers-logo{
    margin-left: .7em;
    font-size: .8em;
    color: var(--bg-300);
    transition: .5s;
}
.button-settings-form{
    background-color: var(--primary-200);
    border: 2px solid var(--primary-200);
    border-radius: .5em;
    transition: .5s;
    color: var(--bg-100);
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 1px;
    height: auto !important;
    width: 8em !important;
    margin-top: .5em;
    margin-bottom: 2em;
    padding: .2em;
    cursor: pointer;
}
.button-settings-form:hover{
    background-color: transparent;
    color: var(--primary-200);
}
.button-add-cancel{
  background-color: transparent;
  border: 2px solid var(--text-100);
  border-radius: .5em;
  transition: .5s;
  color: var(--text-100);
  font-weight: 600;
  font-size: 1.1em;
  padding: .2em;
  letter-spacing: 1px;
  height: auto !important;
  width: 8em !important;
  margin-top: .5em;
  margin-bottom: 2em;
  margin-right: 2em;
  cursor: pointer;
}
.button-add-cancel:hover{
  background-color: var(--text-100);
  color: var(--bg-100);
}


