body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-100); /* Color de fondo de respaldo */
    padding: 0;
    margin: 0;
    font-family: 'Expletus Sans', sans-serif;
    color: var(--text-100);
}
button{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-100);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-100);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-100);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--accent-100);
}
.account_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title-page{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5em;
}
.title-page h1{
    margin: 0;
    margin-top: .3em;
    padding: 0;
    font-size: 2em;
    text-decoration: none;
    color: var(--primary-100);
}
.login-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.panel{
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-100) !important;
    padding: 1.5em 3em;
    background-color: var(--bg-200); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 45%;
}
.logo-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.account_section img{
    width: 8em;
}
.text-panel{
    color: var(--primary-100) !important;
    margin-bottom: 2em;
}
.text-panel h2{
    margin: 0;
    padding: 0;
}
.main-form input{
    color: var(--text-100);
}
.main-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-panel form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-panel ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.main-panel li{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em; 
    border: 1px solid var(--primary-100);
    border-radius: .5em; 
    padding: 1em; 
    background-color: var(--bg-100);
    box-sizing: border-box; 
}
.top-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: .2em;
}
.main-panel li label{
    font-weight: 600;
    margin-bottom: .3em;
    font-size: 1em;
}
.main-panel li input{
    background-color: transparent;
    border: none;
    color: var(--text-100);
    font-size: .9em;
    flex: 1;
    margin-top: .5em; 
}
.main-panel li input:focus {
    outline: none;
}
.top-input i{
    font-size: 1.1em;
}
.main-panel li hr{
    border: 1.5px solid var(--primary-100);
    border-radius: 1em;
    width: 100%;
    margin-top: .1em;
}
.main-panel button{
    padding: .4em;
    border: 2px solid var(--accent-100);
    background-color: transparent;
    border-radius: .5em;
    font-weight: 600;
    color: var(--accent-100);
    font-size: 1.1em;
    margin-bottom: 1em;
    transition: .5s;
    width: 75%;
}
.main-panel button:hover{
    color: var(--bg-200);
    background-color: var(--accent-100);
}
.errorM{
    color: var(--primary-100);
    text-align: center;
    font-size: .8em;
}
.two-inputs{
    display: flex;
    width: 100%;
}
.no-account a{
    text-decoration: none;
    color: var(--accent-100);
    font-weight: 600;
    transition: .5s;
}
.no-account a:hover{
    color: var(--primary-100);
}

footer{
    display: flex;
    width: 100%;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    margin-top: 3em;
    width: 100%;
}
footer span a{
    text-decoration: none;
    color: var(--primary-100);
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .title-page h1{
        margin-top: 1.5em;
    }
    .panel{
        width: 100%;
        border-radius: 0;
        padding: 0;
    }
    .two-inputs{
        align-items: center;
        flex-direction: column;
    }
    .two-inputs li{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .footer-content{
        padding: 1em;
    }
    .main-panel li{
        width: 90%;
    }
    .no-account{
        margin-bottom: 2em;
    }
}
