{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin{% endblock %}</title>

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'adminPanel/css/labels.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'publicPanel/css/colorPalette.css' %}">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'adminPanel/css/adminIndex.css' %}">
    {% endblock %}

    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Íconos-->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="top-section">
                <div class="top-logo">
                    <img src="{% static 'publicPanel/svg/main_logo.svg' %}" alt="">
                </div>
                <div class="name-div">
                    <h3>{{ user.username }}</h3>
                </div>
            </div>
            <div class="top-section">
                <a class="log-out" onclick="redirectToLogout()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </header>

    {% block content %}

    {% for business, rewards in businesses_with_rewards.items %}
    <section class="content">

        <div class="displays">
            <div class="display-rewards">
                <h2>{{ business.name }}</h2>
                <ul class="business-rewards">
                    {% for reward in rewards %}
                    <li>
                        <div class="points-counter">
                            <span class="points-owner">
                                points
                            </span>
                            <span class="points-requiered">
                                requiered
                            </span>
                            <span class="points-requiered">
                                {{ reward.points_requiered }}
                            </span>
                        </div>
                        <hr>
                        <h6>{{ reward.title }}</h6>
                        <p>{{ reward.description }}</p>
                        <button onclick="deleteReward({{ reward.id }})">Delete</button>
                    </li>
                    {% empty %}
                        <li>No rewards available for this business.</li>
                    {% endfor %}
                </ul>
           </div>
    
           <div class="add-reward-panel">
            <h3>Add Reward</h3>
            <form class="personal-info-form" id="add-reward" action="{% url 'adminPanel:rewards-api' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ business.id }}" name="business" id="business">
                <ul class="personal-info-inputs">
                    <li>
                        <div class="input-logo">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-info-label">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" maxlength="25" required>
                        </div>
                        <div class="input-pers-logo">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                    </li>
                    <li>
                        <div class="input-logo">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-info-label">
                            <label for="first_name">Points requiered</label>
                            <input type="number" step="1" min="1" name="points_requiered" id="points_requiered">
                        </div>
                        <div class="input-pers-logo">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                    </li>
                    <li>
                        <div class="input-logo">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-info-label">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" maxlength="250">

                            </textarea>
                        </div>
                        <div class="input-pers-logo">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                    </li>
                </ul>
                <div class="add-panel-buttons">
                    <button class="button-settings-form" type="submit">Add</button>
                </div>
            </form>
            <h3>Business info</h3>
            <form class="personal-info-form" id="modify-user" action="" method="post">
                {% csrf_token %}
                <ul class="personal-info-inputs">
                    <li>
                        <div class="input-logo">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-info-label">
                            <label for="business_name">Name</label>
                            <input type="text" value="{{ business.name }}" name="business_name" id="business_name" required readonly>
                        </div>
                        <div class="input-pers-logo">
                            
                        </div>
                    </li>
                    <li>
                        <div class="input-logo">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-info-label">
                            <label for="business_code">Business code</label>
                            <input type="text" value="{{ business.code }}" name="business_code" id="business_code" readonly>
                        </div>
                        <div class="input-pers-logo">
                            
                        </div>
                    </li>

                </ul>
            </form>
           </div>
        </div>

    </section>
    {% endfor %}

    {% endblock %}

    <!-- window -->
    <div id="show-qr" class="modal">
        <div class="modal-contenido">
            <div class="qr-window">
                {% for business in user_business %}
                    <h3 id="title-qr">{{ business.name }}</h3>
                    <img src="{% if business.qrCode %}{{ business.qrCode.url }}{% else %}null{% endif %}" alt="">
                {% endfor %}
                <button onclick="closeQrWindow()">Close</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="bottom-menu">
            <div class="bottom-option" onclick="redirectToHome()">
                <i class="fa-solid fa-house"></i>
            </div>
            <div class="bottom-qr-option" onclick="showQrWindow()">
                <i class="fa-solid fa-qrcode"></i>
            </div>
            <div class="bottom-option" onclick="redirectToScan()">
                <i class="fa-solid fa-expand"></i>
            </div>
        </div>
    </footer>
</body>

<script>
    function redirectToLogout(){
        window.location.href = "{% url 'logout' %}";
    }
    function redirectToHome(){
        window.location.href = "{% url 'adminPanel:home' %}";
    }
    function redirectToScan(){
        window.location.href = "{% url 'adminPanel:scan' %}";
    }
</script>
<script>
    //open window
    function showQrWindow() {
        var modal = document.getElementById("show-qr");
        modal.style.display = "block";
    }
    //close window
    function closeQrWindow() {
        var modal = document.getElementById("show-qr");
        modal.style.display = "none";
    }
</script>
<script type="text/javascript">
    window.csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'adminPanel/js/adminIndex.js' %}"></script>

{% block js %}

{% endblock %}
</html>