.displays{
    display: flex;
    flex-direction: column;
}
.display-rewards{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.add-reward-panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.business-rewards{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: .5em
}
.business-rewards li{
    background-color: var(--bg-200);
    margin: .5em;
    border-radius: 1em;
    padding: .5em;
}
.points-counter{
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    color: var(--text-200);
}
.business-rewards li hr{
    border: 1px solid var(--text-200);
}
.business-rewards li h6{
    color: var(--primary-100);
    margin: 0;
    font-size: 1.1em;
}
.business-rewards li p{
    font-size: .9em;
    text-align: justify;
    padding: .5em;
    margin: 0
}
.business-rewards li button{
    margin-top: .5em;
    border: 1px solid var(--accent-100);
    padding: .5em;
    text-align: center;
    background-color: transparent;
    color: var(--accent-100);
    width: 100%;
    border-radius: .5em;
    transition: .5s;
}
.business-rewards li button:hover{
    background-color: var(--accent-100);
    color: var(--bg-100);
}






@media (min-width: 700px){
    .displays{
        flex-direction: row; 
    }
  }