{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'userPanel/css/labels.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'publicPanel/css/colorPalette.css' %}">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'userPanel/css/userIndex.css' %}">
    {% endblock %}

    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Íconos-->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="top-section">
                <div class="top-logo">
                    <img src="{% static 'publicPanel/svg/main_logo.svg' %}" alt="">
                </div>
                <div class="name-div">
                    <h3>{{ user.first_name }}</h3>
                </div>
            </div>
            <div class="top-section">
                <a class="log-out" onclick="redirectToLogout()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </header>

    {% block content %}

    <section class="content">
        
        <ul class="business-list">
            {% for business_data in businesses_data %}
                <li class="business-info">
                    <div class="top-business-info">
                        <h5>{{ business_data.business.name }}</h5>
                        <span>since {{ business_data.business.created_at|date:"d/m/y" }}</span>
                    </div>
                    
                    <ul class="business-rewards">
                        {% for reward in business_data.rewards %}
                            <li>
                                <div class="points-counter">
                                    <span class="points-owner">{{ business_data.points }}</span>
                                    <span class="points-requiered">of</span>
                                    <span class="points-requiered">{{ reward.points_requiered }}</span>
                                </div>
                                <hr>
                                <h6>{{ reward.title }}</h6>
                                <p>{{ reward.description }}</p>
                                <button>Get</button>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <ul class="business-transactions">
                        <span>Transactions</span>
                        {% for transaction in business_data.transactions %}
                            <li>
                                <h6 class="{% if transaction.amount > 0 %}added{% else %}spent{% endif %}">
                                    {% if transaction.amount > 0 %}Points Added{% else %}Points Spent{% endif %}
                                </h6>
                                <div class="points-info">
                                    <span>{{ transaction.amount }} points</span>
                                    <span>{{ transaction.date|date:"d/m/y" }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        
        
    </section>

    {% endblock %}

    <!-- window -->
    <div id="show-qr" class="modal">
        <div class="modal-contenido">
            <div class="qr-window">
                <h3 id="title-qr"></h3>
                <img src="" alt="">
                <button onclick="closeQrWindow()">Cerrar</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="bottom-menu">
            <div class="bottom-option" onclick="redirectToHome()">
                <i class="fa-solid fa-house"></i>
            </div>
            <div class="bottom-qr-option" onclick="showQrWindow('code', 'User QR')">
                <i class="fa-solid fa-qrcode"></i>
            </div>
            <div class="bottom-option" onclick="redirectToOptions()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </footer>
</body>

<script>
    function redirectToLogout(){
        window.location.href = "{% url 'logout' %}";
    }
    function redirectToHome(){
        window.location.href = "{% url 'userPanel:home' %}";
    }
    function redirectToOptions(){
        window.location.href = "{% url 'userPanel:options' %}";
    }
</script>
<script>
    //open window
    function showQrWindow(code, content) {
        document.getElementById("title-qr").textContent = content;

        var modal = document.getElementById("show-qr");
        modal.style.display = "block";
    }
    //close window
    function closeQrWindow() {
        var modal = document.getElementById("show-qr");
        modal.style.display = "none";
    }
</script>
<script type="text/javascript">
    window.csrfToken = "{{ csrf_token }}";
</script>
{% block js %}

{% endblock %}
</html>