{% extends 'userIndex.html' %}
{% load static %}

    {% block title %}Options{% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'userPanel/css/userOptions.css' %}">
    {% endblock %}


    {% block content %}

    <section class="content">
        <form class="personal-info-form" id="modify-user" action="{% url 'adminPanel:usersModifyApi' %}" method="post">
            {% csrf_token %}
            <ul class="personal-info-inputs">
                <li>
                    <div class="input-logo">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-info-label">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="usernameM" required readonly>
                    </div>
                    <div class="input-pers-logo">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                </li>
                <li>
                    <div class="input-logo">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-info-label">
                        <label for="first_name">Name</label>
                        <input type="text" name="first_name" id="first_nameM">
                    </div>
                    <div class="input-pers-logo">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                </li>
                <li>
                    <div class="input-logo">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-info-label">
                        <label for="last_name">Last name</label>
                        <input type="text" name="last_name" id="last_nameM">
                    </div>
                    <div class="input-pers-logo">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                </li>
                <li>
                    <div class="input-logo">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="input-info-label">
                        <label for="phone_number">Phone</label>
                        <input type="tel" name="phone_number" id="phone_numberM">
                    </div>
                    <div class="input-pers-logo">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                </li>
                <li>
                    <div class="input-logo">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-info-label">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="emailM">
                    </div>
                    <div class="input-pers-logo">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                </li>
            </ul>
            <div class="add-panel-buttons">
                <button class="button-settings-form" type="submit">Modify</button>
            </div>
            
        </form>
    </section>

    {% endblock %}

{% block js %}

{% endblock %}
